.clients__opinions {
    grid-column: 1 / -1;
    line-height: 1.7;
    font-size: var(--font-size-40);
}

.clients__wrapper {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.client__opinion {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}