/* :root {
    --container-width: 119rem;
    --boys: 2rem;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #2374e1;
    --color-light-blue: #1d9bf0;
    --color-dark-blue: #0a66c2;
    --color-darker-blue: #143ce8;
    --color-red: #ff0000;
    --color-green: #03a696;
    --color-grey: #f6f6f6;
    --color-input-border: var(#000000);
    --color-dark-green: #42959b;
    --color-background: var(#ffffff);
    --color-text: var(#000000);
    --color-box-img: var(#000000);
    --color-link-bg: var(#000000);
    --font-family-raleway: "Raleway", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-size-70: 7rem;
    --font-size-65: 6.5rem;
    --font-size-40: 4rem;
    --font-size-38: 3.8rem;
    --font-size-24: 2.4rem;
    --font-size-22: 2.2rem;
    --font-size-18: 1.8rem;
    --font-size-20: 2rem;
    --font-size-15: 1.5rem;
    --transition-timing: 0.3s;
} */

:root {
    --container-width: 119rem;
    --gutter: 2rem;
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #2374e1;
    --color-light-blue: #1d9bf0;
    --color-dark-blue: #0a66c2;
    --color-darker-blue: #143ce8;
    --color-red: #ff0000;
    --color-green: #03a696;
    --color-grey: #f6f6f6;
    --color-dark-green: #42959b;
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-box-img: var(--color-black);
    --color-link-bg: var(--color-black);
    --color-input-border: var(--color-black);
    --font-family-raleway: "Raleway", sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-size-70: 7rem;
    --font-size-65: 6.5rem;
    --font-size-40: 4rem;
    --font-size-38: 3.8rem;
    --font-size-24: 2.4rem;
    --font-size-22: 2.2rem;
    --font-size-20: 2rem;
    --font-size-18: 1.8rem;
    --font-size-15: 1.5rem;
    --transition-timing: 0.3s;
}

html:has(.toggle__checkbox:checked) {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
    --color-box-img: var(--color-green);
    --color-link-bg: var(--color-green);
    --color-grey: #080808;
    --color-input-border: var(--color-white);

}

.download {
    color: #000;
}

html:has(.toggle__checkbox:checked) .download {
    color: #fff;
}

.container:has(.bio:target) .navigation__bio {
    color: var(--color-dark-blue);
    font-weight: bold;
    text-decoration: underline;
}

.container:has(.skills:target) .navigation__Skills {
    color: var(--color-dark-blue);
    font-weight: bold;
    text-decoration: underline;
}

.container:has(.media:target) .navigation__Media {
    color: var(--color-dark-blue);
    font-weight: bold;
    text-decoration: underline;
}

.container:has(.projects:target) .navigation__Projects {
    color: var(--color-dark-blue);
    font-weight: bold;
    text-decoration: underline;
}

.container:has(.clients:target) .navigation__Clients {
    color: var(--color-dark-blue);
    font-weight: bold;
    text-decoration: underline;
}

.container:has(.contact:target) .navigation__Contact {
    color: var(--color-dark-blue);
    font-weight: bold;
    text-decoration: underline;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    font: inherit;

}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

ul,
ol {
    list-style: none;
}

body,
[type=submit] {
    font-size: 16px;
    font-family: var(--font-family-raleway);
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden;
}

.container {
    display: grid;
    row-gap: 13rem;
    margin: 0 auto;
    max-width: var(--container-width);
    /* background-color: #ff0000; */

}

.video__bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    opacity: 0.08;
    z-index: -5;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* padding: 40px 0; */
    align-items: start;
    position: relative;
}

.section--with--bg {
    padding: 11rem 0;
}

.section--with--bg::before {
    content: "";
    position: absolute;
    background-color: var(--color-grey);
    height: 100%;
    width: 100vw;
    justify-self: center;
    z-index: -3;
}

.burger__menu__checkbox {
    display: none;
}

.header {
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-background);
}

.header::before {
    content: "";
    height: 100%;
    width: 100vw;
    position: absolute;
    border-bottom: 0.1rem solid var(--color-black);
    top: 0;
    z-index: -1;
    background-color: var(--color-background);
}

.navigation__list {
    display: flex;
    gap: 2rem;
}

.navigation__link:visited,
.navigation__link:link {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
}

.navigation__link:hover,
.navigation__link:active {
    text-decoration: underline;
    color: var(--color-text);
}

/* Start toggle */
.toggle {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    /* justify-content: flex-end; */
}

.toggle__title {
    font-weight: var(--font-weight-medium);
    /* font-size: var(--font-size-18); */
    font-size: 2rem;
}

.toggle__checkbox {
    display: none;
}

.toggle__label {
    display: block;
    position: relative;
    width: 4.5rem;
    height: 2.2rem;
    background-color: var(--color-black);
    border-radius: 1.5rem;
    padding: 0.3rem 0.4rem;
    transition: 0.3s;
    cursor: pointer;
}

.toggle__label::after {
    content: "";
    position: absolute;
    background-color: var(--color-white);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: block;
}

.toggle__checkbox:checked+.toggle__label {
    background-color: var(--color-white);
}

.toggle__checkbox:checked+.toggle__label::after {
    background-color: var(--color-green);
    transform: translateX(2.1rem);
}

/* End toggle  */
/* start bio  */

.bio {
    column-gap: 7.4rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.bio__heading {
    font-size: var(--font-size-70);
}

.bio__objectives {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-20);
    font-style: var(--font-weight-regular);
    margin: 3rem 0 8rem;
}

.bio__objectives span {
    font-weight: bold;
    font-size: var(--font-size-20);

}

.bio__link {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;
}

.say-hello {
    background-color: var(--color-link-bg);
    color: var(--color-white);
    padding: 0.7rem 4.7rem;
}

.download {
    padding: 0.7rem 0;
    margin-left: 10px;
}

.download .bio__arrow {
    animation: bounce 0.7s infinite alternate ease-in-out;
    display: inline-block;
}

@keyframes bounce {

    0%,
    20%,
    80%,
    100% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(5px);
    }
}

.bio__pic-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-self: end;
}

.bio__pic-content::before {
    content: "";
    position: absolute;
    background-color: var(--color-box-img);
    width: 100%;
    height: 430px;
    border-radius: 20px;
    z-index: -2;
}

.bio__pic {
    width: 430px;
    max-width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: auto;
    /* background-color: var(--color-grey); */
    padding: 30px;

}

/* end bio  */
/* start skills */
.h2__heading {
    font-size: 65px;
    grid-column: 1/-1;
    margin-bottom: 25px;
}

.h3__heading {
    font-size: 38px;
    grid-column: 1/-1;
    margin-bottom: 25px;
}


.list__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;


}

.skills__title {
    font-size: var(--font-size-38);

}

.years {
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
}

/* end skills */

/* start media  */
.media {
    align-items: center;
    justify-content: center;
}

.media__video {
    max-width: 100%;
    height: auto;
    /* background-size: cover; */
    /* background-position: center; */

}

/* end media  */

/* start projects  */
.projects__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
    row-gap: 75px;
}

.projects__main img {
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.projects__data {
    align-self: center;
}

.projects__discription {
    line-height: 1.5;
}

.projects__link {
    color: var(--color-darker-blue);
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-medium);
    margin-top: 2.3rem;
}

.projects__link::after {
    content: "";
    background-image: url("../images/external-icon.png");
    width: 14px;
    height: 14px;
    background-size: contain;
    display: inline-block;
    margin-left: 0.6rem;
}

/* end projects  */
/* clients  */
.clients__opinions {
    grid-column: 1 / -1;
    line-height: 1.7;
    font-size: var(--font-size-40);
}

.clients__wrapper {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.client__opinion {
    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

/* end clients  */
/* start contact   */
.contact {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20rem;
    padding-bottom: 40px;
}

.contact__discription {
    font-size: var(--font-size-20);
    line-height: 1.7;
}

.contact__email {
    font-weight: var(--font-weight-bold);
    margin: 25px 0;
}

.contact__socials {}

.contact__social {
    transition: var(--transition-timing);
    margin-left: 5px;
    display: inline-block;
}

.contact__social:hover {
    transform: scale(1.2);
}

.contact__inputs {
    display: flex;
    gap: 4rem;
}

.contact__input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 0.1rem solid var(--color-input-border);
    flex: 1;
}

.textarea {
    margin-top: 4rem;
    width: 100%;
}

.contact__btn {
    background-color: var(--color-link-bg);
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    padding: 1.7rem 1.8rem;
    font-size: 24px;
    margin-top: 3.4rem;
    border: none;
}

form:invalid::after {
    content: "*";
    font-size: 38px;
    color: #ff0000;
}

/* end contact   */

.footer {
    border-top: 1px solid var(--color-black);
    padding: 10px 0;
    font-size: 15px;

}

/* resposive design  */
@media (max-width:1000px) {
    html {
        font-size: 8px;
    }
}

@media (max-width:800px) {
    .container {
        row-gap: 8rem;
    }

    .section {
        grid-template-columns: 1fr;
    }

    .bio__pic-content {
        grid-row: 1;
        justify-self: center;
        margin-bottom: 40px;
    }

    .list__skills {
        grid-template-columns: repeat(2, 1fr)
    }

    .projects__main {
        row-gap: 6rem;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .projects__data:nth-of-type(2) {
        order: 1;
    }

    .clients__opinions {
        font-size: 24px;
    }

    .contact {
        row-gap: 6rem;
    }

    .form__contact {
        order: -1;
    }

    .video__bg {
        height: 100vh;
    }
}

@media (max-width:550px) {
    .header {
        padding: 0;
    }

    .header::before {
        z-index: 0;
    }

    .bio__pic {
        width: 100%;
    }

    .section--with--bg {}

    .video__bg {
        height: 100vh;
    }



    .menu__label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 0;
        align-self: center;
        cursor: pointer;
    }

    .menu__bar {
        height: 0.3rem;
        width: 40px;
        background-color: var(--color-text);
        transition: var(--transition-timing);
    }

    .header:has(.burger__menu__checkbox:checked) .menu__bar:nth-child(1) {
        transform: translateY(10px) rotate(40deg);
    }

    .header:has(.burger__menu__checkbox:checked) .menu__bar:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }

    .header:has(.burger__menu__checkbox:checked) .menu__bar:nth-child(3) {
        transform: translateY(-10px) rotate(-40deg);
    }

    .burger__menu__checkbox:checked+.navigation {
        top: 50%;
        
    }

    .navigation {
        position: absolute;
        top: 0;
        padding: 3rem 0;
        width: 100vh;
        border-bottom: 0.1rem solid var(--color-text);
        background-color: #03a696;
        z-index: -1;
    }

    .toggle {
        z-index: 1;
        padding: 3rem 0;
    }
}

/*end resposive design  */